@charset "utf-8";
/* CSS Document */

:root {
    --main-text-color: #DB3B00;
		--secondary-text-color: #cf3700;
		--footer-links-color: #fff;
		--breadcrumb-links-color: #006cc9;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: var(--footer-links-color);
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
img, embed,
object, video {
	max-width: 100%;
}
#maincontent {
  background-color: #f3f3f3;
  height: 100%;
	border: 0;
}
#footer {
  background-color: #444;
  color: #b1b1b1;
  font-size: 9pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.network-warning {
  font-size: 18pt !important;
  color: red;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 15px !important;
}

.network-warning span {
  display: block;
}

.toast {
  color: #fff;
  background: #323232;
  padding: 10px 0;
  padding-right: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  bottom: 0;
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .toast {
    font-size: 16px;
  }
}

.toast-dismissed {
  opacity: 0;
  display: none;
}

.toast button {
  color: var(--secondary-text-color);
  margin: 0;
  padding: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.toast button:hover {
  color: #fff;
}

.unbutton {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  white-space: nowrap;
}

/* ====================== Navigation ====================== */
.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: red;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
	color: white;
}

nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
	padding: 10px;
}
nav h1 a {
	margin: auto;
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

img#logo {
	width: 64px;
	height: 64px;
	margin: 5px auto;
}

#breadcrumb {
    padding: 12px 12px 12px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 24px);
		box-shadow: 0 7px 30px -6px rgba(0, 0, 0, .15);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: var(--breadcrumb-links-color);
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

@media screen and (max-width: 1023px) {
	#breadcrumb {
		padding-left: 0;
		padding-right: 0;
	  width: 100%;
	}

	#breadcrumb li:first-child {
	    margin-left: 10px;
	}
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 50px;
  background-color: #007dba;
  align-items: center;
	align-self: center;
	text-align: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
	padding-top: 1em;
	padding-bottom: 0.3em;
}

.filter-options select {
  background: #fff;
  font-family: Arial,sans-serif;
  font-size: 16px;
  height: 35px;
  letter-spacing: 0;
  margin: 15px;
  padding: 0 10px;
  min-width: 48px;
}

.filter-options select:focus {
  outline-color: #000;
}

@media screen and (min-width: 510px) {
	.filter-options h2, .filter-options select {
		display: inline-block;
	}
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	display: flex;
	flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 15px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  padding: 0;
  text-align: center;
  width: 500px;
	border-radius: 3px;
	box-shadow: 1px 4px 5px #E4E4E4;
}

@media screen and (max-width: 519px) {
	#restaurants-list {
	  padding: 10px;
    padding-bottom: 0;
	}

	#restaurants-list li {
		padding: 0;
		margin: 0;
    margin-bottom: 10px;
	  width: 100%;
	}
}

@media screen and (min-width: 520px) and (max-width: 959px) {
	#restaurants-list li {
	  margin: 0;
    margin-right: auto;
	}

	#restaurants-list li:nth-child(2n) {
	  margin-right: 0;
	}

	#restaurants-list li:last-child {
	  margin-top: 0;
    margin-left: 0;
    margin-right: 0;
	}
}

@media screen and (min-width: 960px) and (max-width: 1269px) {
	#restaurants-list li {
	  width: calc((100% - 90px) / 3);
	}
}

@media screen and (min-width: 1269px) and (max-width: 1829px) {
	#restaurants-list li {
	  width: calc((100% - 120px) / 4);
	}
}

@media screen and (min-width: 1829px) and (max-width: 2680px) {
	#restaurants-list li {
	  width: calc((100% - 150px) / 5);
	}
}

@media screen and (min-width: 520px) and (max-width: 700px) {
	#restaurants-list {
	  padding: 10px;
    padding-bottom: 0;
	}

  #restaurants-list li {
    width: calc((100% - 10px) / 2);
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 700px) and (max-width: 959px) {
	#restaurants-list {
	  padding: 15px;
    padding-bottom: 0;
	}

  #restaurants-list li {
    width: calc((100% - 15px) / 2);
    margin-bottom: 15px;
  }
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: auto;
  max-width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#restaurants-list li h3 {
  color: var(--main-text-color);
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: var(--main-text-color);
	border-radius: 3px;
	box-shadow: 1px 4px 5px #E4E4E4;
  color: #fff;
  display: inline-block;
  font-size: 11pt;
  margin: 15px 15px 10px 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 132px);
  right: 0;
  top: 132px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
}

.inside #footer {
  bottom: 0;
  position: relative;
  width: calc(50% - 50px);
}
#restaurant-name {
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px;
  text-transform: uppercase;
	height: auto;
	background: var(--main-text-color);
	color: white;
	padding: 2px 8px 2px 8px;
	line-height: 48px;
	vertical-align: middle;
	border-radius: 3px;
	box-shadow: 1px 4px 5px #E4E4E4;
}
#restaurant-img {
	width: 90%;
	border-radius: 3px;
	box-shadow: 1px 4px 5px #E4E4E4;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
	box-shadow: 0 -4px 30px -6px rgba(0, 0, 0, .65);
}

#reviews-container {
	margin-left: 10px;
  width: calc(50% - 20px);
}

#restaurant-container {
  background: #fff;
	margin-top: 180px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: calc(50% - 40px);
	float: left;
	text-align: center;
	box-shadow: 0 -7px 30px -6px rgba(0, 0, 0, .15);
}

#reviews-container {
		text-align: center;
}

#reviews-container h3 {
  color: var(--secondary-text-color);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
	margin: 20px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  list-style-type: none;
  overflow: hidden;
  position: relative;
	border: none;
	border-radius: 3px;
	box-shadow: 1px 4px 5px #E4E4E4;
	margin: 0 10px 30px;
	width: auto;
}
#reviews-list li p {
  margin-top: 0;
}
#restaurant-hours td {
  color: #666;
}

#restaurant-hours {
	margin: 0 auto 20px auto;
}

.review-name {
	text-align: left;
	padding-left: 20px;
}

.review-date, .review-name {
	font-size: 15px;
	clear: both;
	display: inline-block;
	white-space: nowrap;
	width: calc((100% - 40px) / 2);
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
	border: 0;
	background: #333;
	color: white;
}

.review-date {
	color: #ddd;
	text-align: right;
	padding-right: 20px;
}

.review-rating {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
	height: 24px;
	background: var(--main-text-color);
	color: white;
	padding: 2px 8px 2px 8px;
	vertical-align: middle;
	line-height: 24px;
	border-radius: 3px;
	box-shadow: 1px 4px 5px #E4E4E4;
}

.review-comments {
	margin: 20px;
	text-align: left;
}

@media screen and (max-width: 567px) {
	#restaurant-container, #reviews-container {
		padding: 0;
	  width: calc(100% - 20px);
		margin-top: 25px;
		margin-bottom: 25px;
		margin-left: 10px;
		align-items: center;
		align-content: center;
		text-align: center;
	}

	#restaurant-container {
		margin-left: 20px;
		width: calc(100% - 40px);
	}

	#restaurant-img {
		margin-bottom: 10px;
	}

	#restaurant-name, #reviews-container h3 {
		text-align: center;
		margin: 20px;
		font-size: 17pt;
	}

	#restaurant-hours, #restaurant-address {
		text-align: center;
	}

	#restaurant-hours td {
		letter-spacing: 2px;
		display: block;
		margin: 2px;
	}

	#reviews-list {
		width: 100%;
	}
}

@media screen and (min-width: 568px) and (max-width: 1023px) {
	#restaurant-img {
		width: calc((100% - 20px) / 2);
		margin: auto 10px 20px 10px;
		float: left;
	}

	#restaurant-hours {
		padding: 0 10px 0 0;
		width: calc((100% - 20px) / 2);
	}

	#restaurant-address {
		clear: both;
		margin: 0 0 15px 10px;
		padding: 0;
		float: left;
		width: calc((100% - 20px) / 2);
	}

	#restaurant-container {
		padding: 0;
		width: calc(100% - 40px);
		margin: 25px 0 25px 20px;
		float: left;
		text-align: center;
	}

	#reviews-container {
		width: calc(100% - 20px);
		margin-left: 10px;
		text-align: center;
		padding: 0;
		clear: both;
		position: relative;
	}

	#reviews-list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#reviews-list li {
		width: calc((100% - 40px) / 2);
	}

	#restaurant-hours td {
		letter-spacing: 2px;
	}
}

@media screen and (min-width: 820px) {
	#restaurant-hours td {
		display: block;
		letter-spacing: 3px;
	}
}

@media screen and (min-width: 1024px) {
	.inside header {
	  position: fixed;
	}

	.inside #map-container {
	  position: fixed;
	}
}

@media screen and (max-width: 1023px) {
	.inside #map-container {
		width: 100%;
		height: 300px;
		margin-top: 5px;
		width: 100%;
	}

	.inside #footer {
	  bottom: 0;
	  position: relative;
	  width: auto;
	}
}
